<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #busqueda type='text' (keyup)="buscarMedicos( busqueda.value )" placeholder="Buscar Medicos" class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class='col-sm-12'>
        <div class='alert alert-warning text-center'>
            <strong>Cargando</strong>
            <br>
            <i class='fa fa-refresh fa-spin fa-2x'></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class='text-right'>
                    <button [routerLink]="[ '/medico', 'nuevo' ]" type='button' class='btn btn-info' align='rigth'><i class='fa fa-plus'></i> Crear Medico</button>
                </div>
                <h3 class='card-title'>Medicos Registrados <small>{{totalMedicos}}</small></h3>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Hospital</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td>
                                <img (click)="cambiarImagenModal( medico._id )" [src]="medico.img | imagen:'medicos'" class="w50 img-circle pointer">
                            </td>
                            <td>{{medico.nombre}}</td>
                            <td>{{medico.hospital.nombre}}</td>
                            <td>
                                <button [routerLink]="[ '/medico', medico._id ]" type='button' class='btn btn-info'>
                                    <i class='fa fa-edit'></i>
                                </button>&nbsp;
                                <button (click)="borraMedico( medico )" type='button' class='btn btn-danger'>
                                    <i class='fa fa-trash'></i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>